@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

body {
  font-family: "Poor Story";
}

.add-form {
  padding: 30px;
  background-color: teal;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.todoitem {
  width: 300px;
  border: 1px solid rgb(157, 234, 234);
  border-radius: 10px;

  background-color: teal;

  color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.btn-style {
  background-color: antiquewhite;
  border-radius: 10px;
  border: none;
  margin: 10px;
  padding: 6px;
  font-family: "Poor Story";
  color: teal;
}

.btn-style:hover {
  transform: scale(1.4);
  transition: transform 0.3s;
}
.todobox {
  margin: 10px;
}

input {
  font-family: "Poor Story";
  margin: 10px;
  width: 150px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  color: teal;
}

label {
  color: antiquewhite;
}

.board-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  position: sticky;
}
